[submodule "roles/default-packages"]
	path = roles/default-packages
	url = git@github.com:jdongmo/default-packages.git
[submodule "roles/known_hosts"]
	path = roles/known_hosts
	url = git@github.com:jdongmo/known_hosts.git
[submodule "roles/sources.list"]
	path = roles/sources.list
	url = git@github.com:jdongmo/sources.list.git
[submodule "roles/ssh-authorized-keys"]
	path = roles/ssh-authorized-keys
	url = git@github.com:jdongmo/ssh-authorized-keys.git
[submodule "roles/ssh-config"]
	path = roles/ssh-config
	url = git@github.com:jdongmo/ssh-config.git
[submodule "roles/aws_security_groups"]
	path = roles/aws_security_groups
	url = git@github.com:jdongmo/aws_security_groups.git
[submodule "roles/aws_ec2"]
	path = roles/aws_ec2
	url = git@github.com:jdongmo/aws_ec2.git
[submodule "roles/aws_vpc"]
	path = roles/aws_vpc
	url = git@github.com:jdongmo/aws_vpc.git
[submodule "roles/aws_subnet"]
	path = roles/aws_subnet
	url = git@github.com:jdongmo/aws_subnet.git
[submodule "roles/docker_deploy"]
	path = roles/docker_deploy
	url = git@github.com:jdongmo/docker_deploy.git
[submodule "roles/aws_igw"]
	path = roles/aws_igw
	url = git@github.com:jdongmo/aws_igw.git
[submodule "roles/aws_rtb"]
	path = roles/aws_rtb
	url = git@github.com:jdongmo/aws_rtb.git
[submodule "roles/aws_route53"]
	path = roles/aws_route53
	url = git@github.com:jdongmo/aws_route53.git
[submodule "roles/attach_disk"]
	path = roles/attach_disk
	url = git@github.com:jdongmo/attach_disk.git
[submodule "roles/nexus3-oss"]
	path = roles/nexus3-oss
	url = git@github.com:jdongmo/nexus3-oss
[submodule "roles/aws_eip"]
	path = roles/aws_eip
	url = git@github.com:jdongmo/aws_eip.git
[submodule "roles/aws_elb"]
	path = roles/aws_elb
	url = git@github.com:jdongmo/aws_elb.git
[submodule "roles/docker-engine"]
	path = roles/docker-engine
	url = git@github.com:jdongmo/docker-engine.git
[submodule "roles/hostname"]
	path = roles/hostname
	url = git@github.com:jdongmo/hostname.git
[submodule "roles/java"]
	path = roles/java
	url = git@github.com:jdongmo/java.git
[submodule "roles/logstash"]
	path = roles/logstash
	url = git@github.com:jdongmo/logstash.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = git@github.com:jdongmo/nginx.git
[submodule "roles/strongswan"]
	path = roles/strongswan
	url = git@github.com:jdongmo/strongswan.git
[submodule "roles/sysctl"]
	path = roles/sysctl
	url = git@github.com:jdongmo/sysctl.git
