[submodule "roles/default-packages"]
	path = roles/default-packages
	url = git@github.com:jdongmo/default-packages.git
[submodule "roles/known_hosts"]
	path = roles/known_hosts
	url = git@github.com:jdongmo/known_hosts.git
[submodule "roles/sources.list"]
	path = roles/sources.list
	url = git@github.com:jdongmo/sources.list.git
[submodule "roles/ssh-authorized-keys"]
	path = roles/ssh-authorized-keys
	url = git@github.com:jdongmo/ssh-authorized-keys.git
[submodule "roles/ssh-config"]
	path = roles/ssh-config
	url = git@github.com:jdongmo/ssh-config.git
[submodule "roles/aws_security_groups"]
	path = roles/aws_security_groups
	url = git@github.com:jdongmo/aws_security_groups.git
[submodule "roles/aws_ec2"]
	path = roles/aws_ec2
	url = git@github.com:jdongmo/aws_ec2.git
[submodule "roles/aws_vpc"]
	path = roles/aws_vpc
	url = git@github.com:jdongmo/aws_vpc.git
[submodule "roles/aws_subnet"]
	path = roles/aws_subnet
	url = git@github.com:jdongmo/aws_subnet.git
[submodule "roles/docker_deploy"]
	path = roles/docker_deploy
	url = git@github.com:jdongmo/docker_deploy.git
[submodule "roles/aws_igw"]
	path = roles/aws_igw
	url = git@github.com:jdongmo/aws_igw.git
[submodule "roles/aws_rtb"]
	path = roles/aws_rtb
	url = git@github.com:jdongmo/aws_rtb.git
[submodule "roles/aws_route53"]
	path = roles/aws_route53
	url = git@github.com:jdongmo/aws_route53.git
