## Ansible
ansible==2.8.7
cryptography>=2.7

## AWS
boto
boto3
botocore<1.18.0,>=1.17.28

## Azure
ansible[azure]
msrest==0.6.1
msrestazure==0.5.0
azure-cli-core==2.0.35 #(from ansible[azure])
argcomplete>=1.8.0 ##(from azure-cli-core==2.0.35->ansible[azure])
applicationinsights>=0.11.1 #(from azure-cli-core==2.0.35->ansible[azure])
humanfriendly>=4.7 ##(from azure-cli-core==2.0.35->ansible[azure])
knack==0.3.3 #(from azure-cli-core==2.0.35->ansible[azure])
pygments #(from azure-cli-core==2.0.35->ansible[azure])
tabulate<=0.8.2,>=0.7.7 #(from azure-cli-core==2.0.35->ansible[azure])
azure-cli-nspkg==3.0.2 #(from ansible[azure])
azure-common==1.1.11 #(from ansible[azure])
azure-mgmt-authorization==0.51.1 #(from ansible[azure])
azure-mgmt-batch==5.0.1 #(from ansible[azure])
azure-mgmt-cdn==3.0.0 #(from ansible[azure])
azure-mgmt-compute==4.4.0 #(from ansible[azure])
azure-mgmt-containerinstance==1.4.0 #(from ansible[azure])
azure-mgmt-containerregistry==2.0.0 #(from ansible[azure])
azure-mgmt-containerservice==4.4.0 #(from ansible[azure])
azure-mgmt-dns==2.1.0 #(from ansible[azure])
azure-mgmt-keyvault==1.1.0 #(from ansible[azure])
azure-mgmt-marketplaceordering==0.1.0 #(from ansible[azure])
azure-mgmt-monitor==0.5.2 #(from ansible[azure])
azure-mgmt-network==2.3.0 #(from ansible[azure])
azure-mgmt-nspkg==2.0.0 #(from ansible[azure])
azure-mgmt-redis==5.0.0 #(from ansible[azure])
azure-mgmt-resource==2.1.0 #(from ansible[azure])
azure-mgmt-rdbms==1.4.1 #(from ansible[azure])
azure-mgmt-servicebus==0.5.3 #(from ansible[azure])
azure-mgmt-sql==0.10.0 #(from ansible[azure])
azure-mgmt-storage==3.1.0 #(from ansible[azure])
azure-mgmt-trafficmanager==0.50.0 #(from ansible[azure])
azure-mgmt-web==0.41.0 #(from ansible[azure])
azure-nspkg==2.0.0 #(from ansible[azure])
azure-storage==0.35.1 #(from ansible[azure])
azure-keyvault==1.0.0a1 #(from ansible[azure])
azure-graphrbac==0.40.0 #(from ansible[azure])
azure-mgmt-cosmosdb==0.5.2 #(from ansible[azure])
azure-mgmt-hdinsight==0.1.0 #(from ansible[azure])
azure-mgmt-devtestlabs==3.0.0 #(from ansible[azure])
azure-mgmt-loganalytics==0.2.0 #(from ansible[azure])
